<a href="https://colab.research.google.com/github/lalit-kumr/demand-estimation-case-study/blob/main/demand_estimation_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
pd.read_csv('https://github.com/lalit-kumr/demand-estimation-case-study/raw/main/Electricity%20Consumption.csv')

         DATE  Electricty_Consumption_in_TW
0    1/1/1973                       35.9728
1    2/1/1973                       36.1334
2    3/1/1973                       35.0625
3    4/1/1973                       33.8416
4    5/1/1973                       33.5107
..        ...                           ...
556  5/1/2019                       97.5860
557  6/1/2019                      110.8580
558  7/1/2019                      122.1014
559  8/1/2019                      121.7765
560  9/1/2019                      109.7190

[561 rows x 2 columns]